{% extends "base.html" %} {% block title %}Changed{% endblock %} {% block
content %}
<div class="container fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1 class="title">
        How I go about making this website under a month of summer's break.
      </h1>
      <p class="date">July 25th 2024</p>
      <p class="reading-time">4 min read</p>
      <img
        src="{{ url_for('static', filename='algo.jpg') }}"
        alt="img"
        class="first-img"
      />
      <p class="source1">
        A scene from
        <a
          class="link"
          href="https://www.google.com/search?q=the+social+network&rlz=1C1ONGR_viVN1101VN1101&oq=the+social+network+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgwIAhAAGEMYgAQYigUyDAgDEAAYQxiABBiKBTIHCAQQLhiABDIHCAUQABiABDIGCAYQRRg9MgYIBxBFGDzSAQg0NTk1ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8"
          >The Social Network</a
        >
      </p>
      <p class="disclaimer">
        Disclaimer: This blog is designed to be read by everyone so I am not
        delving too much into the technical details!
      </p>
      <p class="section">1.Introduction</p>
      <p class="paragraph">
        After two months of grueling preparation for the SAT and bringing back
        home a decent result, I was left with like a month or two of summer
        break with pretty much nothing to do and no idea to use the spare time
        for the good. But fast forward a month and a half, here i am with a
        sleeky designed blog that I can be proud of 😎
      </p>
      <p class="paragraph">
        The motivation,initially, sparks from my curiosity regarding all the new
        techs that have been all-the-rage out there. My ambitious mind was
        sprawling with bunch of crazy ideas like trying to build an actual
        <a class="link" href="https://www.salesforce.com/ap/saas/">SaaS</a>
        product or data monetization from
        <a
          class="link"
          href="https://www.imperva.com/learn/application-security/web-scraping-attack/#:~:text=Web%20scraping%20is%20the%20process,replicate%20entire%20website%20content%20elsewhere."
          >web scraping</a
        >. But before touching on those things, I wanted to branch out my skills
        first by trying out simple stuffs, which is building a blog!
      </p>
      <p class="paragraph">
        It may sounds boring at first but i think this project is generally a
        good starting point for me. It will be a solid proof for my passion and
        the springboard for all the exciting upcoming things. I was able to get
        my hands on the basics of web development and how the front-end and
        back-end are interconnected. Not only that, this blog will be the place
        where I document future projects and updates about my life because I
        love sharing my personal experiences.
      </p>
      <p class="section">
        2. A little bit of what I have learned along the way
      </p>
      <img
        class="second-img"
        src="{{ url_for('static', filename='oppenheimer.jpg') }}"
        alt="img"
      />
      <p class="source1">
        A scene from
        <a
          class="link"
          href="https://www.google.com/search?q=oppenheimer+&sca_esv=2a9720fd994fa302&rlz=1C1ONGR_viVN1101VN1101&sxsrf=ADLYWIKPVfhafrYeZSsMzRu-nNDMEazVvw%3A1721846248348&ei=6EmhZo3-FNSO2roPot6k4Aw&ved=0ahUKEwiNkvaPqcCHAxVUh1YBHSIvCcwQ4dUDCA8&uact=5&oq=oppenheimer+&gs_lp=Egxnd3Mtd2l6LXNlcnAiDG9wcGVuaGVpbWVyIDIKECMYgAQYJxiKBTIEECMYJzIKEC4YgAQYQxiKBTIKEAAYgAQYQxiKBTIKEAAYgAQYQxiKBTIKEAAYgAQYFBiHAjIFEAAYgAQyCBAAGIAEGMsBMgUQABiABDIFEAAYgARI4ARQ-gJY-gJwAXgAkAEAmAFZoAFZqgEBMbgBA8gBAPgBAZgCAqACZsICCBAAGIAEGLADwgILEAAYgAQYsAMYogSYAwCIBgGQBgWSBwEyoAfYCg&sclient=gws-wiz-serp"
          >Oppenheimer</a
        >
      </p>
      <p class="paragraph">
        When it comes to web development, the first things that comes to me and
        people's mind are HTML and CSS. So I taught myself those two via
        <a class="link" href="https://www.theodinproject.com/"
          >The Odin Project</a
        >
        . After that, with prior experiences in Python, I learned how to
        set up Flask for the back-end and url handlings for the front-end.
        Throughout the experimental phase with HTML and CSS, I found out that
        using CSS alone for design is too much of a hassle so I complemented the
        website with
        <a class="link" href="https://getbootstrap.com/">BootStrap</a> (which I
        later regretted as
        <a class="link" href="https://tailwindcss.com/">Tailwind CSS</a> is a
        much better option).
      </p>
      <p class="paragraph">
        With all that, I got myself a simple page that can navigate around. But
        the exciting part is when I decided to create the homepage. Drawing
        inspirations from various sources, I came up with the ideas of
        implementing animations for the homepage, which requires some time for
        me to get comfortable with Javascript, React, and how Webpack bundling
        all works together. In those time, I stumbled across a multitude of new
        concepts, especially how hooks in React works so that I can apply
        animations with some magic from
        <a class="link" href="https://www.framer.com/motion/">Framer motion</a>
        and
        <a
          class="link"
          href="https://www.google.com/search?q=SVG&rlz=1C1ONGR_viVN1101VN1101&oq=SVG+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIICAEQRRgnGDsyCAgCEEUYJxg7MgYIAxBFGDsyDAgEEAAYQxiABBiKBTIGCAUQRRg8MgYIBhBFGD0yBggHEEUYPdIBCDE1MzJqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8"
          >SVGs</a
        >.
      </p>
      <p class="paragraph">
        Putting all the front-end asides, I also created the comment section below this post as a challenge. This has introduced me to 
        <a class="link" href="https://firebase.google.com/">FireBase</a> as a solution to manage database and queries.   
      </p>
      <p class="section">
        3. Conclusion
      </p>
      <img class="third-img" src="{{ url_for('static', filename='homelandertest.png') }}" alt="img" />
      <p class="source1">
        A scene from
        <a
          class="link"
          href="https://www.google.com/search?q=the+boys&rlz=1C1ONGR_viVN1101VN1101&oq=the+boys+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIICAEQRRgnGDsyDggCEEUYJxg7GIAEGIoFMgYIAxBFGDsyEggEEAAYQxiDARixAxiABBiKBTIGCAUQRRg9MgYIBhBFGD0yBggHEEUYPNIBCDI3MDBqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8"
          >The Boys</a
        >
      </p>
      <p class="paragraph">
        Throughout this journey, surely there are times when I just want to give up and yield myself to the frustrations from
        many weird bugs that even Google don't have an answer to. Howevever, there is also one thing for sure is that I have stepped foot in
        the world of web development and left an unique mark there. After this blog, I will be continuing my journey but this time the projects
        will be larger in scale and much more impactful that can solve actual problems.
      </p>
      <p class="paragraph">
        If you like this post, feel free to leave a comment below
        expressing your thoughts or simply giving me some future ideas that I can work on 😗. 
      <div id="comment">
        <h3>Comments</h3>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

{% endblock %}
