{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %}
<div class="container fluid">
  <div class="row">
    <div class="col-3"></div>  
    <div class="col-6"> 
        <h1>my career change journey from charity administrator to software development</h1>
        <p>October 10th 2023</p>
        <p>I've always loved the digital world whether it's the web, photography or gaming. As a kid, I'd mess around with basic HTML and CSS on blogging sites for hours after school. I never really understood the code but I loved messing with it until I could make the website look "good".</p>
    </div>        
    <div class="col-3"></div>
  </div>
</div>
<a class="icon-link" href="#">
    
</a>
{% endblock %}
<div 
class ="masthead">
    <div class="color-overlay d-flex justify-content-center align-items-center" >
        <p>test</p>
    </div>
</div>


