<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <title>Homepage</title>
</head>
<body>
    <div id="particles-js"></div>
    <h1 class="hello">Hello world</h1>
    
      

      <!-- Include particles.js library -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
      setTimeout(() => {
      particlesJS.load("particles-js", "{{ url_for('static', filename='particles.json') }}",
      function(){
      console.log("particles.json has loaded");
    });
  }, 1000);
    </script>
    <script src="{{ url_for('static', filename='homepage.bundle.js') }}"></script>
</body>
</html>
