
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;0,700;1,600;1,700&display=swap');
.comment-form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Space between elements */
}
.author-input,
.comment-input,
.comment-button {
    width: 100%; /* Make inputs full width */
    padding: 10px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding in width */
}
.comment-list {
    margin-top:35px;
}
.comment-list-title {
    margin-bottom: 20px;
}
  
.total-comment {
border-radius: 8px;
padding: 15px;
margin-bottom: 15px;
display: flex;
align-items: flex-start;
}
.comment-image1, .comment-image2 {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 15px;
object-fit: cover;
}
.comment-layout {
    flex-grow: 1;
  }
  
.comment-name {
margin: 0 0 5px 0;
font-size: 16px;
font-weight: bold;
}

.comment-timestamp {
font-size: 12px;
color: #888;
margin: 0 0 10px 0;
}

.comment-content {
margin: 0;
font-size: 14px;
line-height: 1.4;
}
.title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 7px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 60px;
}
.date {
    font-size: 14px;
    color: #999;
    display: inline;
    
}
.reading-time {
    display:inline;
    font-size: 12px;
    color: #999;
    float: right;
}
.first-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top:30px;
}
.source1{
    font-size: 14px;
    text-align: center;

}
.link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}
.disclaimer {
    font-size: 18px;
    font-weight: bold;
}
.section {
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: solid;
    border-width: 1px;
    font-size: 27px;
    font-family:  'IBM Plex Mono', monospace; ;

}
.paragraph {
    line-height: 1.5;
    margin-bottom:20px;
}
.second-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top:30px;
    height: 600px;
}
.third-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top:30px;
    height: 600px;
}